.order_area {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    background-color: var(--white--font);

    .order_form {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .product_add {
            flex: 1;
            padding: 30px;
            border: 1px solid var(--background--color3);
            border-radius: 15px;
            background: linear-gradient(to right, #fffbee,#ffffff );
            display: flex;
            flex-direction: column;
            gap: 1rem;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

            .add_header {
                color: var(--white--font);
                font-size: clamp(1.125rem, 0.75rem + 1vw, 1.5rem);
                color: var(--black--font);

                & i {
                    color: var(--red--font);
                }
            }

            .add_select {
                display: flex;
                width: 100%;
                gap: 10px;

                & select {
                    flex: 1;
                    padding: 10px 15px;
                     font-size: clamp(0.9375rem, 0.9375rem + 0vw, 0.9375rem);
                    border-radius: 10px;
                    color: var(--black--font);
                    background-color: var(--background--color2);
                    border: 1px solid var(--red--font);
                }

                & button {
                    flex-shrink: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 10px;
                    border-radius: 15px;
                    font-size: clamp(1.125rem, 0.875rem + 0.6667vw, 1.375rem);
                    color: var(--black--font);
                    border: none;
                    background-color: var(--background--color3);
                }
            }

            .order_list {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                & li {
                    flex: 1;
                    display: flex;
                    font-size: clamp(0.9375rem, 0.625rem + 0.8333vw, 1.25rem);
                    justify-content: space-between;
                    align-items: center;
                    list-style: none;
                    padding: 15px;
                    background: var(--i--background);
                    border: 1px solid var(--background--color3);
                    border-radius: 15px;
                    color: var(--white--font);

                    .order_resume {
                        display: flex;
                        flex-direction: column;

                        & span {
                            color: var(--white--font);
                        }
                    }

                    .order_buttons {
                        display: flex;
                        gap: 10px;
                        font-size: clamp(1.125rem, 0.9375rem + 0.5vw, 1.3125rem);
                        align-items: center;

                        #order_delect {
                            color: var(--white--font);
                            background-color: var(--background--color4);
                            border: 1px solid var(--background--color3);
                        }

                        & button {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 5px;
                            border-radius: 10px;
                            font-size: clamp(1.125rem, 1rem + 0.3333vw, 1.25rem);
                            background-color: var(--background--color1);
                            color: var(--black--font);
                            border: none;
                        }
                    }
                }
            }

            .order_addBtn {
                display: flex;
                gap: 10px;
                justify-content: space-between;
                padding: 20px 15px;
                color: var(--white--font);
                background: var(--i--background);
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
                border-radius: 15px;
                border: none;
                font-size: clamp(0.9375rem, 0.625rem + 0.8333vw, 1.25rem);
            }
        }

        .order_details {
            flex: 1;
            padding: 30px;
            border: 1px solid var(--background--color3);
            border-radius: 15px;
            background: linear-gradient(to right, #fffbee,#ffffff );
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            color: var(--white--font);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

            & strong {
                font-size: clamp(1.125rem, 0.75rem + 1vw, 1.5rem);
                color: var(--black--font);
            }

            .input_field {
                display: flex;
                flex-direction: column;
                gap: 10px;
                

                & label {
                    font-size: clamp(1rem, 0.6875rem + 0.8333vw, 1.3125rem);
                    color: var(--black--font);
                }

                & input {
                    padding: 15px;
                    font-size: clamp(0.9375rem, 0.9375rem + 0vw, 0.9375rem);
                    border: 1px solid var(--red--font);
                    background-color: var(--background--color2);
                    color: var(--black--font);
                    border-radius: 12px;
                }

                & textarea {
                    padding: 15px;
                    font-size: clamp(0.9375rem, 0.9375rem + 0vw, 0.9375rem);
                    border: 1px solid var(--red--font);
                    background-color: var(--background--color2);
                    color: var(--black--font);
                    border-radius: 12px;
                    resize: none;
                    overflow-y: auto;
                }
            }

            #order_finish {
                display: flex;
                gap: 10px;
                justify-content: center;
                padding: 20px 15px;
                color: var(--white--font);
                background: var(--i--background);
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
                border-radius: 25px;
                border: none;
                font-size: clamp(0.9375rem, 0.625rem + 0.8333vw, 1.25rem);
                transition: all 0.3s ease-in-out;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.05) translateY(-2px);
                    transition: all 0.3s ease-in-out;
                }
            }
        }
    }
}

@media(min-width: 1200px) {
    .order_area {
        .order_form {
            flex-direction: row;
        }
    }
}