.testimonials_area { 
    min-height: 100vh;
    background-color: var(--white--font);
    display: flex;
    flex-direction: column;
    gap: 4rem;

    .classification {
        display: flex;
        gap: 10px;
        align-self: center;
        color: var(--red--font);
        padding: 15px 30px;
        border-radius: 25px;
        background-color: var(--background--color1);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        font-size: clamp(1.125rem, 0.75rem + 1vw, 1.5rem);
    }

    .testimonials_grid {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .testimonials_field {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            gap: 2rem;
            padding: 20px;
            border: 1px solid var(--background--color3);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
            border-radius: 15px;
            background: linear-gradient(to bottom, #fffbee,#ffffff );

            .stars_field {
                display: flex;
                justify-content: space-between;
                font-size: clamp(1.125rem, 0.75rem + 1vw, 1.5rem);

                .stars {
                    display: flex;
                    gap: 5px;
                    color: var(--red--font);
                }

                .quote_mark {
                    color: var(--red--font);
                    font-size: clamp(1.375rem, 1.0625rem + 0.8333vw, 1.6875rem);
                }
            }

            & p {
                color: var(--black--font);
                font-size: clamp(1.125rem, 0.875rem + 0.6667vw, 1.375rem);
            }

            .testimonial_perfil {
                display: flex;
                align-items: center;
                gap: 15px;

                & i {
                    color: var(--red--font);
                    font-size: clamp(1.625rem, 1.125rem + 1.3333vw, 2.125rem);
                }

                .perfil_text {
                    display: flex;
                    gap: 4px;
                    font-size: clamp(0.9375rem, 0.75rem + 0.5vw, 1.125rem);
                    flex-direction: column;
                    color: var(--red--font);
                }
            }

            &:hover {
                transform: scale(1.05) translateY(-5px);
                box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
                transition: all 0.3s ease-in-out;
                cursor: pointer;
            }
        }
    }
}


@media(min-width:1200px) {
    .testimonials_area {
        .testimonials_grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    }
}